@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular";
  color: #3a3a3a;
}

div {
  box-sizing: border-box;
}

.cart-background {
  background: #96bdd4;
  padding: 10px 50px 50px;
  width: 100%;
  margin: auto;
}

.cart-table {
  background: white;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
  max-width: 1000px;
  min-width: 800px;
  margin: auto;
  margin-top: 40px;
}

table {
  border-collapse: collapse;
}

.cart-table td,
.cart-table th {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #c2d3de;
}

.cart-table th:nth-child(2) {
  width: 40%;
}

/* tr:nth-child(even) {
  background: #d6eeee;
} */
/* tr:hover {
  background: #c5dfec;
} */

/* .cart-image {
  width: 150px;
} */

.cart-bottom {
  margin-top: 60px;
}

.cart-bottom a {
  font-size: 18px;
}

.cart-bottom a:link {
  color: black;
}

.cart-bottom a:visited {
  color: #e1e8eb;
}

.cart-bottom button {
  display: block;
  margin-left: auto;
  margin-top: -35px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background: #4a809b;
  font-size: 16px;
  font-weight: 600;
  color: #c5dfec;
}

.btn:hover {
  cursor: pointer;
  background-color: #4b7285;
}

.btn:focus {
  background-color: red;
  outline: 2px solid blue;
}

.btn:active {
  background-color: white;
}
